
h2,
.h2 {
  font-size:2rem;
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #eff2f3;/*背景色*/
  border-left: solid 5px #22f2c2;/*左線（実線 太さ 色）*/
}

h3,
.h3 {
  font-size:1.5rem;
  padding: 0.5em;/*文字周りの余白*/
  border-left: solid 5px #22f2c2;/*左線（実線 太さ 色）*/
}