em {
  color: red;
}


.hero {
 width: 100%;
 padding: 70px 0;
 background-repeat:no-repeat;
 background-position : 50% 30%;
 background-size: cover;
}
.hero-span {
 display: inline-block;
 color: #073b4c;
 font-size: 2.6rem;
 font-weight: bold;
 padding: 20px 30px;
 border-top: 2px solid #fff;
 border-bottom: 2px solid #fff;
 background-color: rgba(255, 255, 255, 0.6);
}

.bg-commerble {
  background-color: #db4a48 !important;
}